.navbar{
    background-color:#032830;
}

.navbar-brand{
    color: #4587c9;
}

.navbar-brand:hover{
    color: #67a3e0;
    transform: scale(1.1);
}

.btn:hover{
    transform: scale(1.1);
    color: #000000;
}

.btn{
    color: rgb(255, 255, 255);
}
