.py-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.table img{
    border-radius: 18px;
    width: 150px;
    height: 150px;
}

.table{
    vertical-align: middle
}

.nometop{
    color: #4587c9;
    font-family: sans-serif;
    background-color: #032830;
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

