.py-4{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.table img{
    border-radius: 18px;
    width: 150px;
    height: 150px;
}

.table{
    vertical-align: middle
}